body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #a02121;
    color: #ffffff;
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

.login-prompt {
    display: flex;
    flex-direction: column;
    background-image: url('../images/wreath.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @media (max-width: 768px) {
        width: 100%;
    }
    
    .login-head {
        display: flex;
        justify-content: center;
    }

    .login-form {
        display: flex;
        flex-direction: column;
        align-items: center;

        #pin-submit {
            margin-top: 8px;
            width: 45%;
        }
    }
}

.alert-error {
    background-color: #ff8181;
    padding: 4px;
    margin-bottom: 4px;
}

#logout-button {
    color: #1b92e7;
    cursor: pointer;
    font-size: 16px;

    &:hover {
        text-decoration: underline;
    }
}


p {
    color: red;
}