@font-face {
  font-family: "lastchristmas";
  src: url("../style/fonts/lastchristmas.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #ffffff;
  padding: 8px;
  background-image: url("../images/wood-back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
@media (max-width: 768px) {
  body {
    background-repeat: repeat;
  }
}

header {
  font-family: "lastchristmas";
  font-size: 80px;
  text-shadow: 2px 2px 4px rgb(0, 0, 0);
  justify-content: center;
  margin-bottom: 0px;
}
@media (max-width: 768px) {
  header {
    font-size: 60px;
  }
}

.logged-in {
  width: 50%;
}
@media (max-width: 768px) {
  .logged-in {
    width: 100%;
  }
}

.login-prompt {
  display: flex;
  flex-direction: column;
  background-image: url("../images/wreath.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 50%;
  min-height: 400px;
  padding: 40px 20px;
  justify-content: center;
}
@media (max-width: 768px) {
  .login-prompt {
    width: 100%;
    min-height: 300px;
  }
}
.login-prompt .login-head {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.login-prompt .login-head h1 {
  font-family: "lastchristmas";
  font-size: 80px;
  margin: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
@media (max-width: 768px) {
  .login-prompt .login-head h1 {
    font-size: 60px;
  }
}
.login-prompt .login-head h3 {
  font-size: 22px;
  margin: 0 8px 8px 8px;
}
.login-prompt .login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-prompt .login-form #pin-input {
  padding: 12px;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}
.login-prompt .login-form #pin-submit {
  background-color: #004502;
  border: 2.5px solid #800000;
  color: #ffffff;
  margin-top: 8px;
  width: 20%;
  padding: 8px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}
.login-prompt .login-form #pin-submit:hover {
  text-decoration: underline;
}
@media (max-width: 768px) {
  .login-prompt .login-form #pin-submit {
    width: 32%;
  }
}

.alert-error {
  background-color: #ff8181;
  padding: 4px;
  margin-bottom: 4px;
}

.nav-button {
  cursor: pointer;
  font-size: 16px;
  margin: 0;
  color: #5a1a1a;
  text-decoration: none;
  padding: 6px;
  width: 90px;
}
.nav-button a {
  text-decoration: none;
}

#top-container {
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 85%;
}
#top-container #match-button {
  padding: 12px;
  width: 100%;
  font-size: 16px;
  cursor: pointer;
  background-color: #5a1a1a;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 5px;
}
#top-container h2 {
  margin: 0;
}
#top-container ul {
  padding: 0 12px;
  list-style-type: none;
}
#top-container li {
  margin-bottom: 20px;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
  padding-bottom: 8px;
}
#top-container li a {
  text-decoration: underline;
  cursor: pointer;
  color: #ffffff;
}

#receiver-wishlist-container {
  width: 100%;
}
#receiver-wishlist-container .item-name {
  font-weight: bold;
  padding-bottom: 8px;
}

#wishlist-container {
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto;
  width: 85%;
  flex-direction: column;
}
#wishlist-container #wishlist-header-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}
#wishlist-container #wishlist-header-container h3 {
  font-size: 24px;
}
#wishlist-container #add-item {
  width: 100px;
  background-color: #3b6a3b;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 8px;
  cursor: pointer;
}
#wishlist-container #save-new-item {
  background-color: #3b6a3b;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 5px;
  cursor: pointer;
}
#wishlist-container #cancel-add-item {
  background-color: #e64343;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#wishlist-container .edit-item {
  cursor: pointer;
  border-radius: 3px;
}
#wishlist-container .delete-item {
  background-color: #e64343;
  color: #ffffff;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}
#wishlist-container h3 {
  margin: 0;
}
#wishlist-container ul {
  list-style-type: none;
  padding: 0;
}
#wishlist-container li {
  padding: 8px;
  margin-bottom: 8px;
}
#wishlist-container li:nth-child(odd) {
  background-color: rgba(77, 3, 3, 0.5);
  border-radius: 10px;
}
#wishlist-container li:nth-child(even) {
  background-color: rgba(3, 77, 3, 0.5);
  border-radius: 10px;
}
#wishlist-container a {
  color: #ffffff;
}
#wishlist-container .item-display {
  margin-bottom: 8px;
  padding-bottom: 4px;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.5);
}
#wishlist-container .item-display .item-name {
  font-weight: bold;
}
#wishlist-container .item-details {
  padding: 4px 0;
}
#wishlist-container .item-actions {
  display: flex;
  justify-content: end;
  gap: 8px;
}
#wishlist-container .item-action-button {
  padding: 8px;
  width: 80px;
}

#new-item-form-container {
  display: flex;
  flex-direction: row;
  gap: 4px;
  justify-content: center;
  margin-bottom: 4px;
}
@media (max-width: 768px) {
  #new-item-form-container {
    flex-direction: column;
    align-items: center;
  }
}

#new-item-button-container {
  display: flex;
  justify-content: end;
  gap: 8px;
}

.new-item-input {
  padding: 4px;
  margin-bottom: 4px;
  width: 100%;
}
@media (max-width: 768px) {
  .new-item-input {
    padding: 10px;
    width: 95%;
  }
}

.new-item-button {
  padding: 4px;
  width: 75px;
}
@media (max-width: 768px) {
  .new-item-button {
    padding: 10px;
    width: 100px;
  }
}

#participants-table-body tr:nth-child(odd) {
  background-color: #5a1a1a;
}

/*# sourceMappingURL=secret_santa.css.map */
